<<<<<<< HEAD
.whole-dest-container {
  margin-top: 180px;
  color: white;
}
.pick-destination-title {
  margin-left: 100px;
  font-size: 1.4rem;

  & h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  & span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: lightgray;
    opacity: 25%;
    margin-right: 12px;
  }
}
.right-side-container {
  width: 43%;
}
.img-container {
  width: 50%;
}
.dest-content-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 100px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottom-dest-part {
  display: flex;
  justify-content: space-between;
  font-family: 'Barlow Condensed', sans-serif;

  & h4 {
    font-weight: 100;
  }

  & h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
}
.button-nav {
  display: flex;
  justify-content: flex-start;
  gap: 40px;

  & button {
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    cursor: pointer;
  }

  & button.active {
    border-bottom: 3px solid white;
    padding: 10px 0;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
  }
}
.planet-name {
  font-family: 'Bellefair', serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 10px;
}
.planet-description {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .dest-content-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .pick-destination-title {
    margin-bottom: 100px;
    font-size: 1.25rem;
  }
  .img-container {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    & img {
      width: 300px;
    }
  }
  .button-nav {
    display: flex;
    justify-content: center;
    gap: 40px;

    & button {
      background-color: transparent;
      border: none;
      color: rgb(228, 228, 253);
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 100;
    }

    & button.active {
      border-bottom: 3px solid white;
      padding: 10px 0;
      font-weight: 400;
    }
  }
  .right-side-container {
    width: 55%;
    text-align: center;
  }
  .bottom-dest-part {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;

    & h4 {
      font-weight: 100;
    }

    & h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2.2rem;
    }
  }
}
@media (max-width: 768px) {
  .whole-dest-container {
    margin-top: 50px;
    color: white;
  }
  .pick-destination-title {
    margin-bottom: 100px;
    font-size: 1rem;
    text-align: center;
    margin-left: 0;
  }
  .img-container {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

    & img {
      width: 250px;
    }
  }
  .right-side-container {
    width: 70%;
    text-align: center;
  }
  .planet-description {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .bottom-dest-part {
    flex-direction: column;
  }
}
=======
.whole-dest-container {
  margin-top: 180px;
  color: white;
}
.pick-destination-title {
  margin-left: 100px;
  font-size: 1.4rem;

  & h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  & span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: lightgray;
    opacity: 25%;
    margin-right: 12px;
  }
}
.right-side-container {
  width: 43%;
}
.img-container {
  width: 50%;
}
.dest-content-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 100px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottom-dest-part {
  display: flex;
  justify-content: space-between;
  font-family: 'Barlow Condensed', sans-serif;

  & h4 {
    font-weight: 100;
  }

  & h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
}
.button-nav {
  display: flex;
  justify-content: flex-start;
  gap: 40px;

  & button {
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    cursor: pointer;
  }

  & button.active {
    border-bottom: 3px solid white;
    padding: 10px 0;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
  }
}
.planet-name {
  font-family: 'Bellefair', serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 10px;
}
.planet-description {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .dest-content-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .pick-destination-title {
    margin-bottom: 100px;
    font-size: 1.25rem;
  }
  .img-container {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    & img {
      width: 300px;
    }
  }
  .button-nav {
    display: flex;
    justify-content: center;
    gap: 40px;

    & button {
      background-color: transparent;
      border: none;
      color: rgb(228, 228, 253);
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 100;
    }

    & button.active {
      border-bottom: 3px solid white;
      padding: 10px 0;
      font-weight: 400;
    }
  }
  .right-side-container {
    width: 55%;
    text-align: center;
  }
  .bottom-dest-part {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;

    & h4 {
      font-weight: 100;
    }

    & h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2.2rem;
    }
  }
}
@media (max-width: 768px) {
  .whole-dest-container {
    margin-top: 50px;
    color: white;
  }
  .pick-destination-title {
    margin-bottom: 100px;
    font-size: 1rem;
    text-align: center;
    margin-left: 0;
  }
  .img-container {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

    & img {
      width: 250px;
    }
  }
  .right-side-container {
    width: 70%;
    text-align: center;
  }
  .planet-description {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .bottom-dest-part {
    flex-direction: column;
  }
}
>>>>>>> 57ddcef (Initial commit)
